.button {
    border-radius: 8px;
    padding: 0px 30px;
    font-family: inherit;
    cursor: pointer;
    transition: background 0.25s;
    font-size: 16px;
    border: none;
    width: 135px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    border-color: #222096;
}

.accent {
    background: #312eb5;
}
